# Gradle
.gradle/
build/
gradle-app.setting
.gradle-user-home/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/
.code-workspace

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Java
*.class
hs_err_pid*

# Logs
*.log

# Nyx
.nyx/

CHANGELOG.md
